@import "dot-luv/jquery-ui.min.css";
@import "dot-luv/theme.css";

.ctrl {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    z-index: 100;
    display: inline;
    
}

.ctrl .info {
    border-radius: 5px;
    background: rgba(95,158,160,0.3);
    padding: 3px;
}
